--- 
layout: default
--- 

 			<!--Slider Section Start-->
<div class="tj-slider">
				<div class="tj-cab-slider" id="cab-slider">
					<!--Slider Item Content Start-->
                    {% for image in site.data.gallery.slider %}
                    <div class="slide-item">
						<img src="{{ image.image_path }}" width="1920" height="900" alt=""/>
						<div class="slide-caption">
							<div class="container">
								<div class="slide-inner">
									<strong>{{ image.image_title }}</strong>
									<h2>{{ image.image_desc }}</h2>
									<div class="slide-btns">
										<a href="G_About.html" class="btn-style-2">About us <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
										<a href="G_Contact.html" class="btn-style-1">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>

                    {% endfor %}
				
				</div>
</div>
		
			
<section class="tj-offers">
				<div class="row">
				
                    {% for image in site.data.gallery.secure %}
                    <div class="col-md-4 col-sm-6">
                        <div class="offer-box">
							<img src="{{ image.image_path }}" alt=""/>
							<div class="offer-info">
								<h3>{{ image.image_title }}</h3>
                                <h4>	{{ image.image_desc }}</h4>
							</div>
						</div>
                       
                    </div>
                    {% endfor %}
				
				</div>
</section>

<!--Welcome Section Content Start-->
<section class="tj-welcome">
    <div class="container">
        <div class="row">
            <!--Welcome Section Start-->
            <div class="col-md-6 col-sm-7">
                <div class="about-info">
                    <div class="tj-heading-style">
                        <h2>Who We Are</h2>
                    </div>
                    <p style="font-size:25px">Today, <b>GATRAR KRUPA</b> is well-recognized as one of the most trusted Taxi Service not only in Porbandar district but much beyond it with wide customer base beyond India. It has been more than 11 years of journey
						
						We are Providing Reliable and comfortable travel solutions without the premium price tag.
                    </p>
                    <a href="Aboutus.html">About Us<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                    <ul class="facts-list">
                        <li>
                            <strong class="fact-count">100</strong>
                            <i class="fa fa-percent"></i>
                            <span>Happy Customer</span>
                        </li>
                        <li>
                            <strong class="fact-count">5</strong>
                            <i class="fas fa-plus"></i>
                            <span>Luxury Cars</span>
                        </li>
                        <li>
                            <strong class="fact-count">5,00,000</strong>
                            <i class="fas fa-arrow-up"></i>
                            <span>Kilometers Driven</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Welcome Section End-->
            <!--Welcome Section Image Box Start-->
            <div class="col-md-6 col-sm-5">
                <div class="welcome-banner">
                    <img src="images/welcome-img.png" alt=""/>
                </div>
            </div>
            <!--Welcome Section Image Box End-->
        </div>
    </div>
</section>
<!--Welcome Section Content End-->


<section class="fleet-carousel">
    <div class="col-md-12 col-sm-12">
        <div class="tj-heading-style">
            <h3>Our Car Collections</h3>
        </div>
    </div>
    <div class="carousel-outer">
        <div class="cab-carousel" id="cab-carousel">
            {% for image in site.data.gallery.cars %}
			<div class="fleet-item">
                <img src="{{ image.image_path }}" alt=""/>
                <div class="fleet-inner">
                    <h4>{{ image.image_title }}</h4>
                    <ul>
                        <li><i class="fas fa-taxi"></i>Luxury</li>
                        <li><i class="fas fa-user-circle"></i>{{ image.image_seats }}</li>
                        
                    </ul>
                    <strong class="price">{{ image.image_km }}</strong>
                    <a href="G_G_Contact">Book Now <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            {% endfor %}
				
           
        </div>
    </div>
</section>


<!--Promo Offer Section Start-->
<section class="tj-promo-offer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="promo-box">
					<h3>Rent a better car for less money&nbsp;&nbsp;<span>Better prices,</span>&nbsp;a wider range of cars and more locations</h3>
					<a href="G_Contact.html" class="btn-style-2">Contact<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Promo Offer Section End-->

	<!--Client's Feedback Section Start-->
    <section class="tj-reviews">
        <div class="container">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="tj-heading-style">
                        <h3>Client's Feedback</h3>
                    </div>
                </div>
                
                <div class="col-md-12 col-sm-12">
                    <!--Client's Feedback Slider Content Start-->
                    <div id="testimonial-slider" class="reviews-slider">
                        {% for image in site.data.gallery.feed %}
                        <!--Review Item Start-->
                        <div class="review-item">
                            <figure class="img-box">
                                <img src="{{ image.image_path }}" alt="" />
                            </figure>
                            <div class="review-info">
                                <strong>{{ image.image_title }}</strong>
                                <span class="icon-star-empty icomoon rating"></span>
                                <span class="icon-star-empty icomoon rating"></span>
                                <span class="icon-star-empty icomoon rating"></span>
                                <span class="icon-star-empty icomoon rating"></span>
                                <span class="icon-star-empty icomoon rating"></span>
                                
                                <div class="review-quote">
                                    <p>{{ image.image_desc }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>	
                
            </div>
        </div>
    </section>
    <!--Client's Feedback Section End-->
    
